{% extends 'admin/_Main.html' %}

{% block title %}تأیید حذف{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 pb-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">خانه</a></li>
                    <li class="breadcrumb-item active" aria-current="page">تأیید حذف</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="dashboard_container">
                <div class="dashboard_container_header">
                    <div class="dashboard_fl_1">
                        <h4>تأیید حذف</h4>
                    </div>
                </div>
                <div class="dashboard_container_body p-4">
                    <p>آیا مطمئن هستید که می‌خواهید این دسترسی کاربر را حذف کنید؟</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">حذف</button>
                        <a href="{% url 'permission-user-list' %}" class="btn btn-secondary">لغو</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
