{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8"/>
    <meta name="author" content=""/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>{% block title %}ورود{% endblock %}</title>

    <!-- Custom CSS -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!-- Custom Color Option -->
    <link href="{% static 'css/colors.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/jquery.toast.min.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css"
          id="theme-styles">

    <style>
        .other_buttons_hover:hover {
            cursor: pointer;
        }
    </style>

    {% block Styles %}{% endblock %}

</head>

<body class="log-bg rtl" ng-app="myApp" ng-controller="myCtrl">

<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div id="preloader">
    <div class="preloader"><span></span><span></span></div>
</div>


<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <!-- ========================== SignUp Elements ============================= -->
    <section class="log-space">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-11 col-md-11">
                    <div class="row no-gutters position-relative log_rads">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========================== Login Elements ============================= -->


</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/slick.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/counterup.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'js/jquery.toast.min.js' %}"></script>
<script src="{% static 'js/helpers.js' %}"></script>

<script>
    var app = angular.module("myApp", []);
    app.config(function ($interpolateProvider, $httpProvider) {
        $interpolateProvider.startSymbol('[[');
        $interpolateProvider.endSymbol(']]');

        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    });
</script>

{% block Scripts %}{% endblock %}

</body>

</html>